body {
    font-family: Georgia;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 50vh; 
    margin: 0;
    background-color: #1D837F; 
}

.calendar {
    text-align: center; 
    width: 130%; 
    max-width: 1500px; 
    margin: 20px auto; 
    background-color: #9CD1CE;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calendar h1 {
    color: #212E53;
    margin-bottom: 20px;
}

.month {
    display: inline-block;
    width: 30%; 
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 5px solid #1D837F; 
    border-radius: 8px;
    box-sizing: border-box; 
    background-color: #D7EAEE; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}


.month h2 {
    color: #61678B;
    margin-bottom: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid #eee; 
    font-size: 20px;
}
.holiday {
            font-weight: bold; 
            color: #1D837F;
}
th {
    background-color: #61BACA; 
    color: white;
}

tr:nth-child(even) {
    background-color: #9FDBE1; 
}

/* Palette Colors */
.calendar {
    --primary-color: #1D837F;
    --secondary-color: #8488B5;
    --accent-color: #1D837F;
}

.calendar h1, .month h2 {
    color: var(--primary-color);
}

th {
    background-color: var(--accent-color);
    
}
@media (max-width: 1800px) {
    .month {
        width: 150%; 
        margin: 10px;
    }
}

@media (max-width: 1000px) {
    .month {
        width: 90%; 
        margin: 10px auto; 
    }
    .calendar {
        width: 200%;
}
